html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.App {
  text-align: center;
}

.map-container {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.header, .footer {
  position: fixed;
  width: 100%;
  background-color: #282c34;
  color: white;
  font-size: 16px;
  padding: 5px;
  z-index: 1000;
  display: flex;
  text-align: center;
  align-items: center;
}

.header {
  top: 0;
  justify-content: center;
}

.footer {
  bottom: 0;
  justify-content: space-between;
}

.footer p {
  margin: 0 10px;
}

.footer p:first-child {
  font-weight: 600;
  margin-bottom: 0;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 3px;
}

.nav-link {
  margin: 0 5rem;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.friend-input, .journey-result {
  position: absolute;
  left: 10px;
  margin: 80px auto 80px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 8px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 95%;
  max-width: 600px;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.label-row {
  justify-content: space-evenly;
}

.meeting-options {
  margin-top: -10px;
}

.row input, select {
  width: calc(70% - 10px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.row label {
  margin-bottom: 2px;
}

.row button {
  width: 10%;
  min-width: 50px;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.row button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-button, .remove-button {
  width: 15%;
  min-width: 50px;
  font-size: 18px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  background-color: green;
}

.remove-button {
  background-color: darkred;
}

.submit-button {
  width: 100% !important;
  background-color: #007bff;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  /* Smaller margin between header links */
  .nav-link {
    margin: 0 1rem;
    font-size: 1rem;
  }

  /* Stack the footer items on top of each other */
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer p {
    margin: 5px 0;
    font-size: 13px;
  }

  .footer p:first-child {
    margin-bottom: 0;
  }
}