.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: absolute;
  height: 50px;
  background-color: #282c34;
  font-size: 18px;
  color: white;
  opacity: 80%;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  z-index: 1000;
  box-sizing: border-box;
  vertical-align: middle;
}

.App-footer {
  background-color: #282c34;
  vertical-align: middle;
  height: 50px;
  font-size: 18px;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 80%;
  padding: 10px;
  position: absolute;
  text-align: center;
  z-index: 1000;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.user-inputs {
  position: absolute;
  top: 80px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.user-inputs input, select {
  width: 200px;
  /*width: 25%;*/
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-inputs button {
  right: 10px;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;

}

.user-inputs button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-button, .remove-button {
  width: 10%;
  aspect-ratio: 1.5;
  font-size: 20px;
}

.add-button {
  background-color: green;
  margin-right: 0px;
}

.remove-button {
  background-color: darkred;
  padding: 0;
  display: flex;
  justify-content: center;
}

.submit {
  background-color: #007bff;
  font-size: 20px;
  font-weight: bold;
  min-height: 40px
}

.meeting-options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

